@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505; /* Addis-Black */
  color: #ffffff;            /* Global White Text Fix */
}

body {
  margin: 0;
  padding: 0;
  color: white;             /* Double-check for mobile browsers */
}

/* Custom Scrollbar for the Gold Theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37; 
  border-radius: 10px;
}